footer {
  margin-top: 1rem;
  background-color: var(--color-grey-light-1);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    min-width: 320px;
    max-width: 1020px;
  }
}

.annotations {
  padding: 1rem 2rem;
}

.services {
  &__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;

    > * {
      padding: 0.7rem 0;
    }
    li {
      margin: 0 1rem;
      display: flex;
      border-bottom: 1px solid #d0d0cf;
    }

    &__dropicon {
      margin-left: auto;
    }
  }
}
