footer {
  margin-top: 1rem;
  background-color: var(--color-grey-light-1);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    min-width: 320px;
    max-width: 1035px;
  }
}

.annotations {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  color: var(--color-grey-light-2);
  font-size: 11px;
  font-weight: 400;

  ol {
    li:not(last-child) {
      margin-bottom: 0.8rem;
    }
  }
}

.services {
  margin-top: 0.5rem;

  &__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;

    > * {
      padding: 0.7rem 0;
    }
    li {
      &:first-child {
        padding-top: 2rem;
        border-top: 1px solid #d0d0cf;
      }
      font-size: 12px;
      margin: 0 1rem;
      display: flex;
      border-bottom: 1px solid #d0d0cf;
    }

    &__dropicon {
      margin-left: auto;
    }
  }
}
