:root {
  --color-grey-dark-1: rgba(29, 29, 31, 0.85);
  --color-text: #ccc; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.navbar > * {
  height: 3rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header {
  background: var(--color-grey-dark-1);
  color: var(--color-text);
  position: sticky;
  top: 0; }

.hide {
  display: none; }
