@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --color-grey-dark-1: rgba(29, 29, 31, 0.9);
  --color-grey-light-1: #f5f5f7;
  --color-text: #ccc; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  min-width: 325px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  line-height: 1.5; }

.navbar > * {
  height: 3rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

footer {
  margin-top: 1rem;
  background-color: var(--color-grey-light-1); }

.annotations {
  padding: 1rem 2rem; }

.header {
  background: var(--color-grey-dark-1);
  color: var(--color-text);
  position: sticky;
  top: 0; }

.products__primary {
  color: var(--color-text);
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, 548px));
  grid-template-columns: minmax(min-content, 2560px);
  gap: 1rem; }
  .products__primary__item--1 {
    background: url(https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_small_2x.jpg);
    background-position-y: -1.75rem; }
  .products__primary__item--2 {
    background: url(https://www.apple.com/euro/home/n/screens_alt/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_small_2x.jpg); }
  .products__primary__item--3 {
    background: url(https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_small_2x.jpg); }
  .products__primary__item--1, .products__primary__item--2, .products__primary__item--3 {
    background-size: cover;
    background-position-x: center; }

.products__secondary {
  display: grid;
  grid-template-rows: repeat(6, 548px);
  grid-template-columns: 100%;
  gap: 1rem; }
  .products__secondary__item--1 {
    background: url(https://www.apple.com/v/home/y/images/promos/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg); }
  .products__secondary__item--2 {
    background: url(https://www.apple.com/v/home/y/images/promos/watch-series-6/promo_watch_series_6_non_lte__dnht9uxjrnau_small_2x.jpg); }
  .products__secondary__item--3 {
    background: url(https://www.apple.com/v/home/y/images/promos/airtag/promo_airtag__e6b73a64nno2_small_2x.jpg); }
  .products__secondary__item--4 {
    background: url(https://www.apple.com/v/home/y/images/promos/apple-fitness-plus/tile__cauwwcyyn9hy_small_2x.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 740px; }
  .products__secondary__item--5 {
    background: url(https://www.apple.com/v/home/y/images/promos/apple-tv-4k/promo_tile_tv4k__cbz6fpnn6kz6_small_2x.jpg); }
  .products__secondary__item--6 {
    background: url(https://www.apple.com/euro/home/n/screens_alt/images/promos/tv-plus-april-multi-show/promo_tile_tv_plus_april_multi_show__exe3n6u00l8i_small_2x.jpg); }
  .products__secondary__item--1, .products__secondary__item--2, .products__secondary__item--3, .products__secondary__item--5, .products__secondary__item--6 {
    background-size: cover;
    background-position-x: center; }

.announcement {
  background-color: #f5f5f7;
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center; }
  .announcement p {
    text-align: center;
    font-size: 0.8rem;
    max-width: 80vw; }
    .announcement p a {
      color: #06c;
      text-decoration: none; }
      .announcement p a:hover {
        text-decoration: underline; }

.hide {
  display: none; }
