@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --color-grey-dark-1: rgba(29, 29, 31, 0.9);
  --color-grey-light-1: #f5f5f7;
  --color-grey-light-2: #86868b;
  --color-text: #ccc; }

/*
  1069px:
  primary product assets change 
  font-size change,
  primary grid row size changes to 736px (maximum)
  secondary grid row size changes to 624px (maximum)
*/
/*
  768px:
  navbar, footer change to desktop version,
  primary grid row size changes to 694px
  secondary grid row size changes to 534px
*/
/* 
  735px:
  main grid switches to desktop,
  primary image assets change,
  primary grid row size changes to 698px,
  secondary grid row size changes to 538px
*/
/*

Primary grid row size: 548px (minimum)
Secondary grid row size: 548px (minimum)

========================================================================
*/
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  min-width: 325px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5; }

.hamburger {
  display: block;
  position: relative; }

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.4em;
  height: 1px; }

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  background: #ccc; }

.hamburger::before {
  bottom: 3px; }

.hamburger::after {
  top: 3px; }

.toggle {
  position: absolute;
  bottom: 10px;
  left: 40px;
  transform: translateX(-100%);
  background: transparent;
  padding: 1em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  outline: none; }

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 14px; }
  .navbar > * {
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar .hidden {
    display: none; }
  @media only screen and (min-width: 47.94em) {
    .navbar .hidden {
      display: inline-block; }
    .navbar .hide {
      display: none; } }
  .navbar__links__link--2__icon {
    margin-top: 0.5rem;
    margin-left: 2rem;
    height: 3rem;
    width: 3rem; }
  .navbar__links__link--10__icon {
    margin-top: -2.4rem;
    height: 6rem;
    width: 2rem; }
  .navbar__links__link--11__icon {
    margin-top: 0.5rem;
    height: 3rem;
    width: 3rem; }

footer {
  margin-top: 1rem;
  background-color: var(--color-grey-light-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  footer > * {
    min-width: 320px;
    max-width: 1035px; }

.annotations {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  color: var(--color-grey-light-2);
  font-size: 11.5px;
  font-weight: 400; }
  .annotations ol li:not(:last-child) {
    margin-bottom: 0.8rem; }

.services {
  margin-top: 1rem; }
  .services__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .services__dropdown > * {
      padding: 0.5rem 0; }
    .services__dropdown li {
      font-size: 12px;
      margin: 0 1rem;
      display: flex;
      border-bottom: 1px solid #d0d0cf; }
      .services__dropdown li:first-child {
        padding-top: 2rem;
        border-top: 1px solid #d0d0cf; }
    .services__dropdown__dropicon {
      margin-left: auto; }

.copyright__links {
  font-size: 12px;
  color: var(--color-grey-light-2);
  padding: 1rem 0 0 1rem;
  list-style-type: none; }
  .copyright__links li:not(:last-child) {
    padding-bottom: 1rem; }

.legal {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  min-width: 330px;
  list-style-type: none;
  padding-left: 0.25rem;
  padding-bottom: 1.5rem; }
  .legal li {
    padding: 0 0.75rem 0 0.75rem; }
  .legal li:not(:last-child) {
    border-right: 1px solid grey; }

.header {
  background: var(--color-grey-dark-1);
  color: var(--color-text);
  position: sticky;
  top: 0; }

.products {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .products__primary {
    color: var(--color-text);
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, 548px));
    grid-template-columns: minmax(min-content, 2560px);
    gap: 1rem; }
    @media only screen and (min-width: 45.9375em) {
      .products__primary {
        grid-template-rows: repeat(3, 698px); } }
    @media only screen and (min-width: 47.94em) {
      .products__primary {
        grid-template-rows: repeat(3, 694px); } }
    @media only screen and (min-width: 66.875em) {
      .products__primary {
        grid-template-rows: repeat(3, 736px); } }
    .products__primary__item--1 {
      background: url(https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_small_2x.jpg);
      background-position-y: -1.75rem; }
      @media only screen and (min-width: 45.9375em) {
        .products__primary__item--1 {
          background: url(https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_mediumtall_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__primary__item--1 {
          background: url(https://www.apple.com/v/home/y/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_largetall_2x.jpg); } }
    .products__primary__item--2 {
      background: url(https://www.apple.com/euro/home/n/screens_alt/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__primary__item--2 {
          background: url(https://www.apple.com/euro/home/n/screens_alt/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_mediumtall_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__primary__item--2 {
          background: url(https://www.apple.com/euro/home/n/screens_alt/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_largetall_2x.jpg); } }
    .products__primary__item--3 {
      background: url(https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__primary__item--3 {
          background: url(https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_mediumtall_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__primary__item--3 {
          background: url(https://www.apple.com/v/home/y/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_largetall_2x.jpg); } }
    .products__primary__item--1, .products__primary__item--2, .products__primary__item--3 {
      background-size: cover;
      background-position-x: center; }
  .products__secondary {
    display: grid;
    grid-template-rows: repeat(6, 548px);
    grid-template-columns: minmax(320px, 100vw);
    gap: 0.5rem; }
    @media only screen and (min-width: 45.9375em) {
      .products__secondary {
        grid-template-rows: repeat(3, 538px);
        grid-template-columns: repeat(2, minmax(min-content, 1262px)); } }
    @media only screen and (min-width: 47.94em) {
      .products__secondary {
        grid-template-rows: repeat(3, 534px); } }
    @media only screen and (min-width: 66.875em) {
      .products__secondary {
        grid-template-rows: repeat(3, 624px); } }
    .products__secondary__item--1 {
      background: url(https://www.apple.com/v/home/y/images/promos/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--1 {
          background: url(https://www.apple.com/v/home/y/images/promos/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_medium_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--1 {
          background: url(https://www.apple.com/v/home/y/images/promos/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_large_2x.jpg); } }
    .products__secondary__item--2 {
      background: url(https://www.apple.com/v/home/y/images/promos/watch-series-6/promo_watch_series_6_non_lte__dnht9uxjrnau_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--2 {
          background: url(https://www.apple.com/v/home/y/images/promos/watch-series-6/promo_watch_series_6_non_lte__dnht9uxjrnau_medium_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--2 {
          background: url(https://www.apple.com/v/home/y/images/promos/watch-series-6/promo_watch_series_6_non_lte__dnht9uxjrnau_large_2x.jpg); } }
    .products__secondary__item--3 {
      background: url(https://www.apple.com/v/home/y/images/promos/airtag/promo_airtag__e6b73a64nno2_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--3 {
          background: url(https://www.apple.com/v/home/y/images/promos/airtag/promo_airtag__e6b73a64nno2_medium_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--3 {
          background: url(https://www.apple.com/v/home/y/images/promos/airtag/promo_airtag__e6b73a64nno2_large_2x.jpg); } }
    .products__secondary__item--4 {
      background: url(https://www.apple.com/v/home/y/images/promos/apple-fitness-plus/tile__cauwwcyyn9hy_small_2x.jpg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      background-size: 740px; }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--4 {
          background: url(https://www.apple.com/v/home/y/images/promos/apple-fitness-plus/tile__cauwwcyyn9hy_medium_2x.jpg);
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: bottom;
          background-size: 500px; } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--4 {
          background: url(https://www.apple.com/v/home/y/images/promos/apple-fitness-plus/tile__cauwwcyyn9hy_large_2x.jpg);
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: bottom;
          background-size: 1100px; } }
    .products__secondary__item--5 {
      background: url(https://www.apple.com/v/home/y/images/promos/apple-tv-4k/promo_tile_tv4k__cbz6fpnn6kz6_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--5 {
          background: url(https://www.apple.com/v/home/y/images/promos/apple-tv-4k/promo_tile_tv4k__cbz6fpnn6kz6_medium_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--5 {
          background: url(https://www.apple.com/v/home/y/images/promos/apple-tv-4k/promo_tile_tv4k__cbz6fpnn6kz6_large_2x.jpg); } }
    .products__secondary__item--6 {
      background: url(https://www.apple.com/euro/home/n/screens_alt/images/promos/tv-plus-april-multi-show/promo_tile_tv_plus_april_multi_show__exe3n6u00l8i_small_2x.jpg); }
      @media only screen and (min-width: 45.9375em) {
        .products__secondary__item--6 {
          background: url(https://www.apple.com/euro/home/n/screens_alt/images/promos/tv-plus-april-multi-show/promo_tile_tv_plus_april_multi_show__exe3n6u00l8i_medium_2x.jpg); } }
      @media only screen and (min-width: 66.875em) {
        .products__secondary__item--6 {
          background: url(https://www.apple.com/euro/home/n/screens_alt/images/promos/tv-plus-april-multi-show/promo_tile_tv_plus_april_multi_show__exe3n6u00l8i_large_2x.jpg); } }
      @media only screen and (min-width: 90.0625em) {
        .products__secondary__item--6 {
          background: url(https://www.apple.com/euro/home/n/screens_alt/images/promos/tv-plus-april-multi-show/promo_tile_tv_plus_april_multi_show__exe3n6u00l8i_xlarge_2x.jpg); } }
    .products__secondary__item--1, .products__secondary__item--2, .products__secondary__item--3, .products__secondary__item--5, .products__secondary__item--6 {
      background-size: cover;
      background-position-x: center; }

.announcement {
  background-color: #f5f5f7;
  font-weight: 300;
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center; }
  .announcement p {
    text-align: center;
    font-size: 0.8rem;
    max-width: 80vw;
    min-width: 20rem; }
    .announcement p a {
      color: #06c;
      text-decoration: none; }
      .announcement p a:hover {
        text-decoration: underline; }
